@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import "./form-component.css";

:root {
    --color-primary: #04fcfa;
    --color-background: #0c1829;
    --color-box: #13243c;
    --color-white: #fff;
    --color-body: #9293b9;
    --color-stroke: #2b3953;
    --color-stroke-light: #343e52;

    --rounding-box: 18px;
    --rounding-controls: 8px;
}

* { box-sizing: border-box; margin: 0; font-family: 'Manrope'; transition: all .3s; }
html, body { min-height: 100vh; }
body {
    background-color: var(--color-box);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page {
    display: flex;
    flex-direction: column;
}
.home-page .home-page__heading {
    margin: 64px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 500px;
}
.home-page .home-page__heading-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--color-white);
}
.home-page .home-page__heading-text {
    color: var(--color-body);
    font-size: 18px;
    line-height: 24px;
}
.home-page .home-page__heading-text span {
    font-weight: 500;
    color: var(--color-white);
}
@media screen and (min-width: 548px) {
    body {
        background-color: var(--color-background);
    }
}

@media screen and (min-width: 1024px) {
    .home-page {
        flex-direction: row;
    }
    .home-page .home-page__heading {
        max-width: 768px;
    }
    .home-page .home-page__heading-title {
        font-size: 48px;
    }
}